:root {
  --first-color: #4d5ae5;
  --secound-color: #2e2f42;
  --tirdth-color: #434455;
  --fourth-color: #ffffff;
  --fifth-color: #f4f4fd;
  --sixth-color: #404bbf;
  --seventh-color: #e7e9fc;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.header-cointainer-all {
  border-bottom: 1px solid #e7e9fc;
}

.header-cointainer-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-cointainer {
  display: flex;
  align-items: center;
}

.logo-cointainer {
  margin-right: 76px;
}

.menu-cointainer {
  display: flex;
  gap: 40px;
}

.menu-cointainer-link {
  display: inline-block;
  padding: 24px 0;
}

.address-cointainer {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.section-first-container {
  padding: 188px 0;
}

.section-first-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-first-heading {
  max-width: 496px;
}

.section-first-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-color: var(--first-color);
  border-radius: 4px;
  cursor: pointer;
}

.section-second-container {
  padding: 120px 0;
}

.section-second-list {
  display: flex;
  gap: 24px;
}

.section-second-point {
  width: calc((100% - 72px) / 4);
}

.section-second-heading-h-three {
  margin-bottom: 8px;
}

.section-third-container {
  padding-bottom: 120px;
}

.section-third-heading-h-two {
  margin-bottom: 72px;
}

.section-third-list {
  display: flex;
  gap: 24px;
}

.section-third-point {
  width: calc((100% - 48px) / 3);
}

.section-fourth-container {
  padding: 120px 0;
}

.section-fourth-heading-h-two {
  margin-bottom: 72px;
}

.section-fourth-list {
  display: flex;
  gap: 24px;
}

.section-fourth-point {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.section-fourth-employee {
  padding: 32px 0px;
}

.section-fourth-heading-h-three {
  text-align: center;
  margin-bottom: 8px;
}

.section-fourth-paragraph {
  text-align: center;
}

.footer-container {
  padding: 100px 0;
}

.footer-container-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container-topic {
  max-width: 264px;
}

.section-portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfolio-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-portfolio-button {
  padding: 12px 24px;
  border: 1px solid var(--seventh-color);
  border-radius: 4px;
}

.section-portfolio-button:hover {
  border: 1px solid transparent;
}

.section-portfolio-button:focus {
  border: 1px solid transparent;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio-point {
  width: calc((100% - 48px) / 3);
}

.section-portfolio-point-name {
  padding: 32px 16px;
  border: 1px solid var(--seventh-color);
  border-top: none;
}

.section-portfolio-heading-h-two {
  margin-bottom: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--fourth-color);
  color: var(--tirdth-color);
  line-height: 1.6;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-color);
  text-decoration: none;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--sixth-color);
}

.link:focus {
  color: var(--sixth-color);
}

span {
  color: var(--secound-color);
}

.list {
  list-style: none;
}

.link-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secound-color);
  text-decoration: none;
}

.link-two:hover {
  color: var(--sixth-color);
}

.link-two:focus {
  color: var(--sixth-color);
}

.adress {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
  text-decoration: none;
}

.contact:hover {
  color: var(--sixth-color);
}

.contact:focus {
  color: var(--sixth-color);
}

.unit {
  background-color: var(--secound-color);
}

.heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
}

.headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.btn {
  background-color: var(--first-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--sixth-color);
}

.btn:focus {
  background-color: var(--sixth-color);
}

.button-first {
  background-color: var(--fifth-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--first-color);
  cursor: pointer;
}

.button-first:hover,
.button-first:focus {
  color: var(--fourth-color);
  background-color: var(--sixth-color);
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secound-color);
}

.paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
}

.header-list-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.fourth-section {
  background-color: var(--fifth-color);
}

.page-footer {
  background-color: var(--secound-color);
}

.bay {
  color: var(--secound-color);
}

.span {
  color: var(--fifth-color);
}

.topic {
  line-height: 1.5;
  color: var(--fifth-color);
  letter-spacing: 0.02em;
}

.cast {
  background-color: var(--fourth-color);
}
