:root {
  --first-color: #4d5ae5;
  --secound-color: #2e2f42;
  --tirdth-color: #434455;
  --fourth-color: #ffffff;
  --fifth-color: #f4f4fd;
  --sixth-color: #404bbf;
  --seventh-color: #e7e9fc;
  --eight-color: #8e8f99;
  --ninth-color: #31d0aa;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.header-cointainer-all {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-cointainer-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
  padding: 0 15px;
}

.nav-cointainer {
  display: flex;
  align-items: center;
}

.logo-cointainer {
  margin-right: 76px;
}

.menu-cointainer-mobile {
  display: none;
  gap: 40px;
}

.menu-cointainer-link {
  display: inline-block;
  padding: 24px 0;
}

.menu-cointainer-link::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, --sixth-color);
}

.menu-cointainer-link2 {
  color: var(--OCEAN, #404bbf);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.address-cointainer {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.section-first-container {
  padding: 188px 0;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  width: 100%;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-first-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-first-heading {
  max-width: 496px;
  margin-bottom: 48px;
}

.section-first-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-color: var(--first-color);
  border-radius: 4px;
  cursor: pointer;
}

.section-second-container {
  padding: 120px 0;
}

.section-second-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.section-second-point {
  width: 396px;
}

.section-second-heading-h-three {
  margin-bottom: 8px;
  text-align: center;
  font-size: 40px;
}

.section-third-container {
  display: none;
  padding-bottom: 120px;
}

.section-third-heading-h-two {
  margin-bottom: 72px;
}

.section-third-list {
  display: flex;
  gap: 24px;
}

.section-third-point {
  width: calc((100% - 48px) / 3);
}

.section-fourth-container {
  padding: 120px 0;
}

.section-fourth-heading-h-two {
  margin-bottom: 72px;
}

.section-fourth-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.section-fourth-point {
  max-width: 264px;
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-fourth-employee {
  padding: 32px 0px;
}

.section-fourth-heading-h-three {
  text-align: center;
  margin-bottom: 8px;
}

.section-fourth-paragraph {
  text-align: center;
}

.footer-container {
  padding: 100px 0;
}

.footer-container-link {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.footer-container-topic {
  max-width: 264px;
}

.section-portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfolio-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-portfolio-button {
  padding: 12px 24px;
  border: 1px solid var(--seventh-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-button:hover {
  border: 1px solid transparent;
}

.section-portfolio-button:focus {
  border: 1px solid transparent;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio-point {
  width: calc((100% - 48px) / 3);
}

.section-portfolio-point-name {
  padding: 32px 16px;
  border: 1px solid var(--seventh-color);
  border-top: none;
}

.section-portfolio-heading-h-two {
  margin-bottom: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--fourth-color);
  color: var(--tirdth-color);
  line-height: 1.6;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-color);
  text-decoration: none;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--sixth-color);
}

.link:focus {
  color: var(--sixth-color);
}

span {
  color: var(--secound-color);
}

.list {
  list-style: none;
}

.link-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secound-color);
  text-decoration: none;
}

.link-two:hover {
  color: var(--sixth-color);
}

.link-two:focus {
  color: var(--sixth-color);
}

.adress {
  display: none;
  font-style: normal;
}

.adress2 {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
  text-decoration: none;
}

.contact:hover {
  color: var(--sixth-color);
}

.contact:focus {
  color: var(--sixth-color);
}

.unit {
  background-color: var(--secound-color);
}

.heading {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
}

.headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.btn {
  background-color: var(--first-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--sixth-color);
}

.btn:focus {
  background-color: var(--sixth-color);
}

.button-first {
  background-color: var(--fifth-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--first-color);
  cursor: pointer;
}

.button-first:hover,
.button-first:focus {
  color: var(--fourth-color);
  background-color: var(--sixth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secound-color);
}

.header-list2 {
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secound-color);
}

.paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
}

.header-list-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.fourth-section {
  background-color: var(--fifth-color);
}

.page-footer {
  background-color: var(--secound-color);
}

.bay {
  color: var(--secound-color);
}

.span {
  color: var(--fifth-color);
}

.topic {
  line-height: 1.5;
  color: var(--fifth-color);
  letter-spacing: 0.02em;
}

.cast {
  background-color: var(--fourth-color);
}

.second-container-icons {
  display: none;
}

.section-fourth-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-fourth-icons-list {
  width: 40px;
  height: 40px;
  list-style: none;
}

.section-fourth-icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-fourth-icons-link:hover {
  background-color: var(--sixth-color);
}

.section-fourth-icons-link:focus {
  background-color: var(--sixth-color);
}

.section-fourth-icons-link-svg {
  fill: var(--fifth-color);
}

.section-fifth-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-fifth-heading-h-two {
  font-size: 36px;
  line-height: 1.11;
  color: var(--secound-color);
  margin-bottom: 72px;
  text-align: center;
}

.section-fifth-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 480px;
  flex-wrap: wrap;
  gap: 24px;
}

.section-fifth-icons-list {
  flex-basis: calc((100% - 120px) / 2);
  width: calc((100% - 120px) / 6);
  height: 88px;
  list-style: none;
}

.section-fifth-icons-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--eight-color);
}

.section-fifth-icons-link:hover {
  border-color: var(--sixth-color);
  color: var(--sixth-color);
}
.section-fifth-icons-link:focus {
  border-color: var(--sixth-color);
  color: var(--sixth-color);
}

.section-fifth-icons-link-svg {
  fill: currentColor;
}

.section-portfolio-link {
  display: block;
}

.section-portfolio-link:hover,
.section-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-container-main-box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container-paragrapf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
  margin-bottom: 16px;
  text-align: center;
  margin-top: 80px;
}

.footer-container-icons {
  display: flex;
  gap: 16px;
}

.footer-container-icons-list {
  width: 40px;
  height: 40px;
  list-style: none;
}

.footer-container-icons-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container-icons-list-link:hover {
  background-color: var(--ninth-color);
}

.footer-container-icons-list-link:focus {
  background-color: var(--ninth-color);
}

.footer-container-icons-list-link-svg {
  fill: var(--fifth-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--seventh-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-menu-pos-link {
  position: relative;
  color: var(--sixth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-pos-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--sixth-color);
  border-radius: 2px;
}

.header-contact-pos-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-first-button-pos {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-pos {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fifth-pos {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-pos-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-link-pos {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-link-pos:hover .section-portfolio-card-paragraff,
.section-portfolio-link-pos:focus .section-portfolio-card-paragraff {
  transform: translateY(0%);
}

.section-portfolio-card {
  position: relative;
  overflow: hidden;
}

.section-portfolio-card-paragraff {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fifth-color);
  padding: 40px 32px;
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-form {
  display: flex;
  flex-direction: column;
}

.footer-container-form-paragraff {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
  text-align: center;
  margin-top: 80px;
}

.footer-container-form-sub {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container-form-sub
  .footer-container-btn
  .footer-container-form-sub
  .footer-container-label {
  flex-basis: 100%;
  width: 100%;
}

.footer-container-form-sub .footer-container-label .footer-container-input {
}

.footer-container-label {
}

.footer-container-input {
  width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--fourth-color);
}

input::placeholder {
  color: var(--fourth-color);
}

.footer-container-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  cursor: pointer;
  background-color: var(--first-color);
  border: none;
  border-radius: 4px;
}

.footer-container-svg {
  margin-left: 16px;
}

.modal-window-paragraff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secound-color);
  margin-bottom: 16px;
}

.modal-window-form {
  margin-bottom: 8px;
}

.modal-window-form-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--eight-color);
  display: block;
  margin-bottom: 4px;
}

.modal-window-form-name-container {
  position: relative;
}

.modal-window-form-name-container-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-name-container-input:focus {
  border-color: var(--first-color);
}

.modal-window-form-name-container-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-window-form-name-container:focus-within {
  fill: #4d5ae5;
}

.modal-window-form-comment {
  margin-bottom: 16px;
}

.modal-window-form-comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-comment-textarea:focus {
  border-color: var(--first-color);
}

.modal-window-form-checkbox {
  margin-bottom: 24px;
}

.modal-window-form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-window-form-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-window-form-checkbox-link {
  color: var(--first-color);
}

.modal-window-form-btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  cursor: pointer;
  background-color: var(--first-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checked:checked
  + .modal-window-form-checkbox-label
  .modal-window-form-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: var(--fifth-color);
}

html,
body {
  width: 100%;
}

.header-container-first {
  display: none;
}

.mobile-menu-layout {
  display: flex;
  max-width: 480px;
  justify-content: space-between;
  margin: auto;
}

.mobile-menu-layout button {
  background-color: transparent;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  flex-flow: column nowrap;
}

.mobile-nav-container .menu-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  gap: 20px;
}

.mobile-nav-container .menu-container .menu-container-link::after {
  display: none;
}

.mobile-menu-close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-first-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg@2x.jpg");
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header-cointainer-first {
    display: flex;
  }

  .mobile-menu-layout {
    display: none;
  }

  .section-second-point {
    width: calc((100% - 72px) / 2);
  }

  .section-second-heading-h-three {
    margin-bottom: 8px;
    text-align: left;
  }

  .section-third-container {
    padding-bottom: 120px;
    display: block;
    display: none;
  }

  .section-fourth-point {
    flex-basis: calc(50% - 24px);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .section-fifth-icons {
    justify-content: center;
    max-width: 768px;
  }

  .section-fifth-icons-list {
    flex-basis: calc((100% - 120px) / 3);
    width: calc((100% - 120px) / 6);
    height: 88px;
    list-style: none;
  }
  .footer-container-form-paragraff {
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
  }

  .footer-container-paragrapf {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
    margin-bottom: 16px;
  }

  .footer-container-icons {
    display: flex;
    gap: 16px;
  }

  .footer-container-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--fourth-color);
  }

  .menu-cointainer-mobile {
    display: flex;
    gap: 40px;
  }

  .menu-cointainer {
    display: flex;
    gap: 40px;
  }

  .menu-cointainer-link {
    display: inline-block;
    padding: 24px 0;
  }

  .menu-cointainer-link::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, --sixth-color);
  }

  .adress {
    display: flex;
    font-style: normal;
  }
}

@media (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
  }

  .section-second-list {
    flex-wrap: nowrap;
  }

  .second-container-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--fifth-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section-second-point {
    width: calc((100% - 72px) / 4);
  }

  .section-fourth-list {
    flex-wrap: nowrap;
  }

  .section-fourth-point {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .section-fifth-icons {
    justify-content: center;
    max-width: 1158px;
  }

  .section-fifth-icons-list {
    flex-basis: calc((100% - 120px) / 6);
    width: calc((100% - 120px) / 6);
    height: 88px;
    list-style: none;
  }

  .footer-container-form {
    margin-left: auto;
    display: block;
  }

  .footer-container-form-sub {
    display: flex;
    gap: 24px;
  }

  .footer-container-box {
    margin-right: 120px;
  }

  .footer-container-link {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-container-paragrapf {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
    margin-bottom: 16px;
  }

  .footer-container-form-paragraff {
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
  }

  .footer-container-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--fourth-color);
  }

  .menu-cointainer-mobile {
    display: flex;
    gap: 40px;
  }

  .menu-cointainer {
    display: flex;
    gap: 40px;
  }

  .menu-cointainer-link {
    display: inline-block;
    padding: 24px 0;
  }

  .menu-cointainer-link::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, --sixth-color);
  }

  .adress {
    display: flex;
    font-style: normal;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 80px 35px 40px 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
