:root {
  --first-color: #4d5ae5;
  --secound-color: #2e2f42;
  --tirdth-color: #434455;
  --fourth-color: #ffffff;
  --fifth-color: #f4f4fd;
  --sixth-color: #404bbf;
  --seventh-color: #e7e9fc;
  --eight-color: #8e8f99;
  --ninth-color: #31d0aa;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.header-cointainer-all {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-cointainer-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-cointainer {
  display: flex;
  align-items: center;
}

.logo-cointainer {
  margin-right: 76px;
}

.menu-cointainer {
  display: flex;
  gap: 40px;
}

.menu-cointainer-link {
  display: inline-block;
  padding: 24px 0;
}

.address-cointainer {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.section-first-container {
  padding: 188px 0;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-first-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-first-heading {
  max-width: 496px;
  margin-bottom: 48px;
}

.section-first-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-color: var(--first-color);
  border-radius: 4px;
  cursor: pointer;
}

.section-second-container {
  padding: 120px 0;
}

.section-second-list {
  display: flex;
  gap: 24px;
}

.section-second-point {
  width: calc((100% - 72px) / 4);
}

.section-second-heading-h-three {
  margin-bottom: 8px;
}

.section-third-container {
  padding-bottom: 120px;
}

.section-third-heading-h-two {
  margin-bottom: 72px;
}

.section-third-list {
  display: flex;
  gap: 24px;
}

.section-third-point {
  width: calc((100% - 48px) / 3);
}

.section-fourth-container {
  padding: 120px 0;
}

.section-fourth-heading-h-two {
  margin-bottom: 72px;
}

.section-fourth-list {
  display: flex;
  gap: 24px;
}

.section-fourth-point {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-fourth-employee {
  padding: 32px 0px;
}

.section-fourth-heading-h-three {
  text-align: center;
  margin-bottom: 8px;
}

.section-fourth-paragraph {
  text-align: center;
}

.footer-container {
  padding: 100px 0;
}

.footer-container-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container-topic {
  max-width: 264px;
}

.section-portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfolio-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-portfolio-button {
  padding: 12px 24px;
  border: 1px solid var(--seventh-color);
  border-radius: 4px;
}

.section-portfolio-button:hover {
  border: 1px solid transparent;
}

.section-portfolio-button:focus {
  border: 1px solid transparent;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio-point {
  width: calc((100% - 48px) / 3);
}

.section-portfolio-point-name {
  padding: 32px 16px;
  border: 1px solid var(--seventh-color);
  border-top: none;
}

.section-portfolio-heading-h-two {
  margin-bottom: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--fourth-color);
  color: var(--tirdth-color);
  line-height: 1.6;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-color);
  text-decoration: none;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--sixth-color);
}

.link:focus {
  color: var(--sixth-color);
}

span {
  color: var(--secound-color);
}

.list {
  list-style: none;
}

.link-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secound-color);
  text-decoration: none;
}

.link-two:hover {
  color: var(--sixth-color);
}

.link-two:focus {
  color: var(--sixth-color);
}

.adress {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
  text-decoration: none;
}

.contact:hover {
  color: var(--sixth-color);
}

.contact:focus {
  color: var(--sixth-color);
}

.unit {
  background-color: var(--secound-color);
}

.heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
}

.headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.btn {
  background-color: var(--first-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--sixth-color);
}

.btn:focus {
  background-color: var(--sixth-color);
}

.button-first {
  background-color: var(--fifth-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--first-color);
  cursor: pointer;
}

.button-first:hover,
.button-first:focus {
  color: var(--fourth-color);
  background-color: var(--sixth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secound-color);
}

.paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tirdth-color);
}

.header-list-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secound-color);
}

.fourth-section {
  background-color: var(--fifth-color);
}

.page-footer {
  background-color: var(--secound-color);
}

.bay {
  color: var(--secound-color);
}

.span {
  color: var(--fifth-color);
}

.topic {
  line-height: 1.5;
  color: var(--fifth-color);
  letter-spacing: 0.02em;
}

.cast {
  background-color: var(--fourth-color);
}

.second-container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--fifth-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-fourth-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-fourth-icons-list {
  width: 40px;
  height: 40px;
  list-style: none;
}

.section-fourth-icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-fourth-icons-link:hover {
  background-color: var(--sixth-color);
}

.section-fourth-icons-link:focus {
  background-color: var(--sixth-color);
}

.section-fourth-icons-link-svg {
  fill: var(--fifth-color);
}

.section-fifth-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-fifth-heading-h-two {
  font-size: 36px;
  line-height: 1.11;
  color: var(--secound-color);
  margin-bottom: 72px;
  text-align: center;
}

.section-fifth-icons {
  display: flex;
  gap: 24px;
}

.section-fifth-icons-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
  list-style: none;
}

.section-fifth-icons-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--eight-color);
}

.section-fifth-icons-link:hover {
  border-color: var(--sixth-color);
  color: var(--sixth-color);
}
.section-fifth-icons-link:focus {
  border-color: var(--sixth-color);
  color: var(--sixth-color);
}

.section-fifth-icons-link-svg {
  fill: currentColor;
}

.section-portfolio-link {
  display: block;
}

.section-portfolio-link:hover,
.section-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-container-main-box {
  display: flex;
  align-items: baseline;
}

.footer-container-box {
  margin-right: 120px;
}

.footer-container-paragrapf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
  margin-bottom: 16px;
}

.footer-container-icons {
  display: flex;
  gap: 16px;
}

.footer-container-icons-list {
  width: 40px;
  height: 40px;
  list-style: none;
}

.footer-container-icons-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container-icons-list-link:hover {
  background-color: var(--ninth-color);
}

.footer-container-icons-list-link:focus {
  background-color: var(--ninth-color);
}

.footer-container-icons-list-link-svg {
  fill: var(--fifth-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-menu-pos-link {
  position: relative;
  color: var(--sixth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-pos-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--sixth-color);
  border-radius: 2px;
}

.header-contact-pos-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-first-button-pos {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-pos {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fifth-pos {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-pos-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
